<div class="dialog_box">
    <form action="{:U('Appeal/send_email')}" method="post" name="form" id="form">
        <input type="hidden" name="email" value="{$Think.get.email}"/>
        <input type="hidden" name="id" value="{$Think.get.id}"/>
        <table width="100%" border="0" cellspacing="10" cellpadding="1" style=" margin-bottom:3px;">
            <tr>
                <td width="70" align="right">登录用户名:</td>
                <td>
                    <input name="login_username" type="text" class="input_text_default small" value="" maxlength="20"/>
                </td>
            </tr>
            <tr>
                <td width="70" align="right">登录密码:</td>
                <td><input name="login_password" type="text" class="input_text_default middle" value="" maxlength="20"/></td>
            </tr>
            <tr>
                <td width="70" align="right" valign="middle">邮件模板:</td>
                <td>
                    <textarea id="body" name="body" class="input_text_default middle" style="height:80px;" disabled>您好，您的帐号申诉已被受理！您的登录账号是：zhangsan，登录密码是：123456。
                    </textarea>
                </td>
            </tr>
            <tr>
                <td align="right">&nbsp;</td>
                <td><input name="Submit2" type="submit" class="admin_submit" id="check" value="立即发送"/></td>
            </tr>
        </table>
    </form>
</div>
